@page "/difflayoutcounter"
@*
    아래와 같이, layout을 특정 Layout으로 설정할 수 있다.
    설정하지 않을 경우,
    App.razor에 정의되어 있는 defaultLayout이
    해당 Page의 Layout이 된다.
*@
@layout MainLayoutExtension

<h1>Different Layout Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
