@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body @* Body: LayoutComponentBase에 정의되어 있는 변수. -- [Parameter] RenderFragment Body *@
    </div>
</div>
